@import "src/custom-style.scss";
@import "../../custom-style.scss";

$footer-text-color: #1a66e0;

footer {
  padding: 20px;
  background-color: mat-color($va-app-primary);
  color: mat-color($va-app-primary, 400);

  .contact {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .info {
      .email, .phone {
        &:hover {
          background-color: white;
        }
      }

      p {
        a {
          color: black;
        }        
        font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
      }

      .copyright {
        color: black;
      }
    }
  }

  text-align: center;

  a {
    color: mat-color($va-app-accent);
    text-decoration: none;
    &:hover {
      color: mat-color($va-app-primary, 100);
    }
  }

  .logo img {
    height: 50px;
  }

  .social{
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      display: inline-block;
      margin: 0 5px;
      font-size: 12px;
    }
  }

  .logo, .address, .email, .social {
    display: inline-block;
    margin: 0 30px;
  }
  
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 10px;

    .contact {
      flex-direction: column;
      .logo, .address, .info, .social {
        display: inline-block;
        margin: 0 15px;
  
        p {
          -webkit-margin-before: 0.5em;
          -webkit-margin-after: 0.5em;
        }
      }
  
      .info {
        font-size: 14px;
      }
    }
  }  
}