<footer class="footer">
  <div class="contact">
    <div class="logo">
      <img src="../../assets/Logo.jpg" alt="VA Photography" title="VA Photography"/>
      
    </div>

    <!-- <div class="address">
      <address>
        <p>Budapest , Hungary</p>
      </address>
    </div> -->

    <div class="email">
      <p><a href="mailto:andras.vancsay@gmail.com">andras.vancsay@gmail.com</a></p>
      <p><a href="tel:+36301845566">(30) 184-5566</a></p>
      <p>&copy; Reserved VA Photography 2018</p>
    </div>

    <div class="social">
      <ul class="social">
        <li><a href="https://www.instagram.com/andrasvancsay"><i class="fa fa-instagram fa-4x" aria-hidden="true"></i></a></li>
        <li><a href="https://www.facebook.com/andrasvancsay"><i class="fa fa-facebook fa-4x" aria-hidden="true"></i></a></li>
        <li><a href="https://twitter.com/mickymouse"><i class="fa fa-twitter fa-4x" aria-hidden="true"></i></a></li>
        <li><a href="https://www.youtube.com/watch?v=OyuguCu3RkI"><i class="fa fa-youtube fa-4x" aria-hidden="true"></i></a></li>
      </ul>
      <p>
    </div>
  </div>
</footer>