<div class="container">
  <div class="wrapper-inner">
    <figure class="details-image">
      <img src="../../assets/about.jpg" alt="" class="img-responsive"/>
    </figure>

    <div class="about-content">
      <div class="inner-left">
        <header>
          <h4>Vancsay András</h4>
          <h5>Photographer</h5>
        </header>
      </div>

      <div class="inner-right">
        <h3>About Me</h3>
        <p>
          I'm a programmer by trade (as evidenced by this website), so you might be surprised that I'm also a photographer.
          In my travels around the world, I have seen many amazing things that I wanted to share with others.
          It started with snapshots, but quickly moved to much more thoughtful, composed photography.
          Printing my first few great pictures and hanging them on the walls of my house convinced me that I loved photography and want to do it the rest of my life.
        </p>
        <p>
          I started doing family photography for my siblings whenever we had family get-togethers.
          Those occasions not only made it easy to capture happy moments with my family, but also allowed me opportunities to learn and improve my photography skills.
          My nephew hates sitting still for family pictures and smiling for the camera, so if I can get great pictures of him, I feel confident that I can also get great pictures of you and your family.
        </p>
      </div>
    </div>
  </div>
</div>
