.details-image {
    img {
      width: 100%;
  
      @media screen and (min-width: 1200px) {
        width: 1031px;
        display: block;
        margin: 0 auto;
      }
    }
  }
  
  .inner-left{
    float: left;
    width: 100%;
    max-width: 30%;
  
    @media screen and (max-width: 600px) {
      border-bottom: 1px solid black;
      float: none;
      max-width: 100%;
    }
  
    @media screen and (min-width: 1000px) {
      max-width: 20%;
    }
  }
  
  .inner-right{
    float: right;
    width: 100%;
    max-width: 70%;
  
    @media screen and (max-width: 600px) {
      float: none;
      max-width: 100%;
    }
  
    @media screen and (min-width: 1000px) {
      max-width: 80%;
    }
  }
  
  .about-content {
    padding: 20px;
  
    @media screen and (min-width: 1200px) {
      width: 1031px;
      display: block;
      margin: 0 auto;
    }
  }
  .contactButton {
    color: yellow;
  }