@import '~@angular/material/theming';

@include mat-core();

$va-app-primary: mat-palette($mat-grey, A400, A400, A400);
$va-app-accent:  mat-palette($mat-indigo, A200, A100, A400);
$va-app-warn:    mat-palette($mat-red);
$va-app-theme: mat-dark-theme($va-app-primary, $va-app-accent, $va-app-warn);

@include angular-material-theme($va-app-theme);
